{% extends 'static/base.html' %}
{% import 'macros/import_files.html' as macro %}

{% block head %}
  {% block title %}{{ super() }}{% endblock %}
  {% block styles %}{{ macro.import_stylesheets(sheets) }}{% endblock %}
{% endblock %}

{% block content %}
  <h1>Hola Mundo</h1>
  <h3>Hola {{ name }}</h3>

  <h3>Nombres de usuario:</h3>
  <ul>
    {% for name in names %}
      <li>{{ name }}</li>
    {% endfor %}
  </ul>

  <h3>Nombres de usuario y edad:</h3>
  <ul>
    {% for i in range(values['names'].__len__()) %}
      <li>{{ values['names'][i] }}, {{ values['ages'][i] }}</li>
    {% endfor %}
  </ul>

  <h3>Usuario de sesión</h3>
  {% if usuario %}
    <ul>
      <li><b>Nombre:</b> {{ usuario['name'] }}</li>
      <li><b>Correo:</b> {{ usuario['email'] }}</li>
    </ul>
  {% endif %}
{% endblock %}