{% extends 'static/base.html' %}
{% block head %}
  {% block title%}<title>Registro</title>{% endblock %}
{% endblock %}

{% block content %}
  {% if usuario %}
    <h3>Usuario activo:</h3>
    <ul>
      <li><b>Nombre:</b> {{ usuario['name'] }}</li>
      <li><b>Correo:</b> {{ usuario['email'] }}</li>
    </ul>
  {% endif %}
  <form action="" method="post">
    <input type="text" name="nombre" placeholder="Nombre">
    <input type="email" name="correo" placeholder="Correo">
    <input type="submit" value="Enviar datos">
  </form>

  <a href="/">Ir a inicio</a>
{% endblock %}